<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="row row-cols-1 border-secondary border m-2 mb-5">
    <div class="form-group d-flex justify-content-between">
        <h1><a th:href="@{/}" class="m-2 text-danger text-">Exchange</a></h1>
        <div>
            <a th:href="@{/login}" class="btn btn-warning m-2" type="button">Sign In</a>
            <a th:href="@{/user/new}" class="btn btn-success m-2" type="button">Sign Up</a>
        </div>
    </div>
</header>