<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: headFragment}">
</head>
<body>
<div class="container-fluid mt-5">
    <header th:replace="~{fragments/header :: headerFragment}">
    </header>
    <section>
        <div class="row m-2">
            <div class="col border-success border p-3 mr-2">
                <h5 class="text-left">Currencies</h5>
            </div>
            <div class="col border-success border p-3 ml-2">
                <h5 class="text-left">My Wallet</h5>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}">
</footer>
</body>
</html>