<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: headFragment}">
</head>
<body>
<div class="container-fluid mt-5">
    <header th:replace="~{fragments/header :: headerFragment}">
    </header>
    <section>
        <div class="row row-cols-1 border-secondary border m-2 mb-5">
            <div class="p-5">
                <div class="w-50 mx-auto" sec:authorize="!isAuthenticated()">
                    <h3 class="text-success text-left mt-10">Sign In</h3>
                    <form method="post" th:action="@{/login}">
                        <div class="form-group" th:if="${param.error}">
                            <h5 class="text-danger">Invalid username or password</h5>
                        </div>
                        <div class="form-group" th:if="${param.logout}">
                            <h3 class="text-danger">See you soon!</h3>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="username"
                                   placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="password" name="password"
                                   placeholder="Password"/>
                        </div>
                        <div class="form-group text-right">
                            <input class="btn btn-warning" type="submit" value="Sign In"/>
                        </div>
                    </form>
                </div>

                <div class="w-100 text-center" sec:authorize="isAuthenticated()">
                    <a th:href="@{/dashboard}" class="text-warning"><h1>OPEN DASHBOARD</h1></a>
                </div>

            </div>
    </section>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}">
</footer>
</body>
</html>